<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<div class="progress">
  <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow=<%= @progress %>
                          aria-valuemin="0" aria-valuemax="100" style="width:<%= @progress %>%">
                          <span><strong><%= @progress %>% Complete</strong></span>
  </div>
</div>

<h1><%= @text.order %> / <%= @item.texts.count %></h1>
<%= audio_tag url_for(@text.sound), controls: true %>

<div class="row">
  <div class="col-md-4">
<%= form_with url: check_url(@item, @text), method: :get do |form| %>
  <% if @give_up %>
    <textarea readonly class="form-control dict_area" rows=5>
      <%= @text.body %>
    </textarea>
  <% else %>
    <%= form.text_area :body, class: "form-control dict_area", rows: 5, placeholder: "Type what you hear..."%>
  <% end %>


  <% if flash[:success] || @give_up %>
    <%= link_to "Next", item_text_path(@item, @text, order: @text.order + 1), class: "btn btn-primary" %>
  <% else %>
    <%= form.submit "Check!", class: "btn btn-primary" %>
    <%= link_to "Give Up...", item_text_path(@item, @text, order: @text.order, give_up: true), class: "btn btn-default" %>
  <% end %>
    <!-- TODO: Implement skip function to show correct answer and make these buttons disappear -->
<% end %>


<% if @text.order != 1 %>
  <%= link_to "Back", item_text_path(@item, @text, order: @text.order - 1) %>
<% end %>
  </div>
</div>
